{% extends 'base.html' %}
{% block content %}
  <div class="container" style="background-color:#f5f5f5">  
    <h1>404</h1>
    <br>
    <h2>Life is Truth, and Never a dream</h2>
    <h3> All souls know this from birth</h3>
    <h3>The truth is somethign that is chosen</h3>
    <h3>and grasped... Sometimes discovered with</h3>
    <h3>one's vision and will</h3>
    <br>
    <h3> Only by gaining does the seeker</h3>
    <h3>become truth himself, a cord of that</h3>
    <h3>connects past and future.</h3>
    <br>
    <h3>but now, our guest's destiny has been</h3>
    <h3>severed, and truth languishes</h3>
    <h3>within the hollow, fog-filled forest...</h3>

    <a href="{{ url_for('root') }}"> Continue your search</a>
  </div>

{% endblock %}
