{% extends "base.html" %}
{% block content %}
  <div class="content" style="background-color:#f5f5f5">
    <h1>{{p["name"]}}</h1>
    <img src={{url_for("static",filename=p["img"])}} width="50%" height=auto
    class="thumbnail pull-right"></img>
    <h3>Arcana: {{p["arcana"]}}</h3>
    <h3>Starting Level: {{p["startinglevel"]}}</h3>
    <h3>Inherits {{p["inherits"]}} skills from fusion</h3>
    <br>
    <table width="40%">
      <tr>
        <td>Reflects</td>
        <td>Absorbs</td>
        <td>Blocks</td>
        <td>Resists</td>
        <td>Weak</td>
      </tr>
      <tr>
        <td>{{p["reflects"]}}</td>
        <td>{{p["absorbs"]}}</td>
        <td>{{p["blocks"]}}</td>
        <td>{{p["resists"]}}</td>
        <td>{{p["weak"]}}</td>
      </td>
    </table>
    <h3>History</h3>
    <p style="font-size:16px" >{{p["info"]}}</p>
    <br clear="all"/>

  </div>
{% endblock %}
